<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Document</title>
    <style>
      div {
        display: grid;
        justify-content: center;
        align-items: center;
      }
      a {
        background-color: green;
        margin-top: 30px;
        border-radius: 20px;
        font-weight: 700;
        border: 0;
        width: 50%;
        height: 45px;
        text-align: center;
        padding-top: 14px;
        color: white;
      }
      img{
        width: 50%;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Feetflight</h1>
      <h3>Welcome {{userName}}</h3>
      <p>this is your last step to start your journey of {{role}} cool attractive looking feet</p>
      <p>please verify your email and proceed</p>
      <a href="http://192.168.1.16:3000/users/confirmation/{{token}}">Verify</a>
    </div>
  </body>
</html>