<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>verification</title>
  </head>
  <body>
    <div>
      <h1>Feetflight</h1>
      <br />
      <h3>Hello again</h3>
      <br />
      <p>We have received a request to change the password associated with your account. As part of
        our security measures, we have generated an OTP to verify your identity for this action.</p>
      <br />
      <p>Your OTP is: {{otp}}</p>
      <br />
      <p>Please ensure that you use the OTP within the next 2 minutes.</p>
      <br />
      <p>Best regards,</p>
      <br />
      <p>Feetflight,</p>
    </div>
  </body>
</html>